NEXT_PUBLIC_YOUTUBE_VIDEO_ID=
NEXT_PUBLIC_PORTAL_URL=https://senior-floors-system-production.up.railway.app
NEXT_PUBLIC_MAIN_SITE_URL=https://senior-floors.com
NEXT_PUBLIC_PHONE=(720) 751-9813
NEXT_PUBLIC_PHONE_DISPLAY=(720) 751-9813
NEXT_PUBLIC_PHONE_TEL=tel:+17207519813
NEXT_PUBLIC_EMAIL=contact@senior-floors.com
